//- index.pug

extends layout/_layout

block vars

  include _config

  - var key = "top"
  - var page = pages[key]

block content

  h2 #{page.title}

  .keyvisual_container
    p.keyvisual_image
      img(src=imgPath+pages.top.image, alt="")