//- index.pug

extends layout/_layout

block vars

  include _config

  - var key = "map"
  - var page = pages[key]

block content

  h2 #{page.title}

  .keyvisual_container
    p.keyvisual_image
      img(src=imgPath+pages.map.image, alt="")